@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background:url(../imagens/fundo-madeira.jpg)no-repeat bottom center fixed ;
    background-size: cover;
}
main{
    position: relative;
    height: 100vh;
}
section#telefone{
    width: 311px;
    height: 627px;
    background: blue url(../imagens/frame-iphone.png)no-repeat;
    background-size: cover;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe#tela{
    width: 300px;
    height: 400px;
}